<% include ../partials/header %>
<div class="uk-container">
	<h1 class="uk-text-center">Conversation avec Lise</h1>
	<div class="uk-grid">
		<div class="uk-width-1-4">
			<img src="/img/people.svg" />
		</div>
		<div class="uk-width-3-4">
			<div class="uk-grid uk-flex-left uk-margin-left uk-margin-right">
				<p class="uk-card uk-card-default uk-padding-small uk-width-4-5">
					Hey ! Comment tu va ?
				</p>
			</div>
			<div class="uk-grid uk-flex-right uk-margin-left uk-margin-right">
				<p class="uk-card uk-card-primary uk-padding-small uk-width-4-5">
					En pleine forme ! Et toi ?
				</p>
			</div>
			<div class="uk-grid uk-flex-left uk-margin-left uk-margin-right">
				<p class="uk-card uk-card-default uk-padding-small uk-width-4-5">
					On va se boire un verre en fin de semaine ?
				</p>
			</div>
			<div class="uk-grid uk-flex-right uk-margin-left uk-margin-right">
				<p class="uk-card uk-card-primary uk-padding-small uk-width-4-5">
					Jeudi ?
				</p>
				<p class="uk-card uk-card-primary uk-padding-small uk-width-4-5">
					Avant la soirée chez Alex.
				</p>
			</div>
			<div class="uk-grid uk-flex-left uk-margin-left uk-margin-right">
				<p class="uk-card uk-card-default uk-padding-small uk-width-4-5">
					Oui très bonne idée ! :)
				</p>
			</div>
			<form class="uk-grid">
				<div class="uk-width-4-5">
					<input type="text" class="uk-input" placeholder="Tape ton message ici ..."/>
				</div>
				<div class="uk-width-1-5">
					<input type="submit" class="uk-input" value="Envoyer"/>
				</div>
			</form>
		</div>
	</div>
</div>
<% include ../partials/footer %>
