<% include ../partials/header %>
<div class="uk-container uk-container-small uk-margin">
	<h2 class="uk-text-center">Commencer à chatter</h2>
	<div class="uk-grid">
		<div class="uk-width-1-4">
			<a href="/chat/lise" class="uk-inline">
				<img src="/img/lise.jpg" />
				<div class="uk-overlay uk-position-bottom uk-overlay-default uk-padding-small uk-text-center">Lise</div>
			</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>
