<% include ../partials/header %>
<div class="uk-container uk-container-small uk-flex uk-flex-center">
	<form class="uk-width-1-3@s">
		<h2 class="uk-text-center">Mot de passe oublié</h2>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: user"></span>
				<input type="email" class="uk-input" placeholder="Ton adresse email" />
			</div>
		</div>
		<div class="uk-margin">
			<input type="submit" class="uk-input uk-button-primary" value="Recevoir un lien de récupération" />
		</div>
	</form>
</div>
<% include ../partials/footer %>
