<% include ../partials/header %>
<div class="uk-container uk-container-small uk-flex uk-flex-center">
	<form class="uk-width-1-3@s" method="post" action="/auth/signup">
		<h2 class="uk-text-center">Inscription</h2>
		<% if(typeof error != 'undefined') { %>
			<div class="uk-alert uk-alert-danger"><%= error %></div>
		<% } %>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: info"></span>
				<input type="text" class="uk-input" name="name" autocomplete="family-name" placeholder="Entre ton nom" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: info"></span>
				<input type="text" class="uk-input" name="firstname" autocomplete="given-name" placeholder="Ton prénom" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: user"></span>
				<input type="text" class="uk-input" name="username" autocomplete="username" placeholder="Choisi un pseudo" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: mail"></span>
				<input type="email" class="uk-input" placeholder="Entre ton adresse email" name="email" autocomplete="email" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input type="password" class="uk-input" placeholder="Ton mot de passe" name="pass" autocomplete="new-password" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input type="password" class="uk-input" placeholder="Confirme ton mot de passe" name="conf" autocomplete="new-password" />
			</div>
		</div>
		<div class="uk-margin">
			<label>Je suis : </label>
			<input type="radio" name="gender" class="uk-radio" value="0" /> Un homme
			<input type="radio" name="gender" class="uk-radio" value="1" /> Une femme
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<input type="submit" class="uk-input uk-button-primary" value="Je m'inscris" />
			</div>
		</div>
		<a href="/auth/signin">J'ai déjà un compte</a>
	</form>
</div>
<% include ../partials/footer %>
