<% include ../partials/header %>
<div class="uk-container uk-container-small uk-flex uk-flex-center">
	<form class="uk-width-1-3@s">
		<h2 class="uk-text-center">Inscription</h2>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: user"></span>
				<input type="email" class="uk-input" placeholder="Ton adresse email" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input type="password" class="uk-input" placeholder="Ton mot de passe" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input type="password" class="uk-input" placeholder="Confirme ton mot de passe" />
			</div>
		</div>
		<div class="uk-margin">
			<div class="uk-inline uk-width-1-1">
				<input type="submit" class="uk-input uk-button-primary" value="Je m'inscris" />
			</div>
		</div>
		<a href="/auth/signin">J'ai déjà un compte</a>
	</form>
</div>
<% include ../partials/footer %>
