<footer class="uk-margin-top">
	<div class="uk-container uk-container-small">
		<hr class="uk-divider-icon"/>
		<p class="uk-text-center">
			Made with ❤ by <strong>cchampou</strong> & <strong>bbrandt</strong> - 2018
		</p>
	</div>
</footer>
</body>
</html>
