<% include ./partials/header %>
<div uk-slideshow="ratio: 21:3">
	<ul class="uk-slideshow-items">
		<li>
			<img src="/img/date.jpg" alt="" uk-cover>
		</li>
	</ul>
</div>
<div class="uk-container uk-container-small uk-margin-large">
	<div class="uk-grid">
		<div class="uk-width-1-2 uk-text-center" uk-scrollspy="cls: uk-animation-slide-left; delay: 1000">
			<span class="uk-icon" uk-icon="icon: location; ratio: 7;"></span>
		</div>
		<div class="uk-section uk-width-1-2 uk-text-center" uk-scrollspy="cls: uk-animation-fade; delay: 500">
			<h3>Rencontrez des gens proche de vous</h3>
		</div>
	</div>
</div>
<div class="uk-container uk-container-expand uk-tile-secondary uk-flex uk-flex-center">
	<div class="uk-container-small uk-margin-large-top uk-margin-large-bottom">
		<blockquote class="uk-margin-large">
			<p>Pertinent, amusant et addictif ! Je recommande...</p>
			<footer>Ornella, utilisatrice de <cite><a href="#">Matcha</a></cite> depuis 1 mois</footer>
		</blockquote>
		<blockquote class="uk-margin-large">
			<p>Le meilleur pour des rencontres simples et efficaces !</p>
			<footer>Quentin, utilisateur de <cite><a href="#">Matcha</a></cite> depuis 2 mois</footer>
		</blockquote>
		<blockquote class="uk-margin-large">
			<p>Je me ballade dessus en toute confiance, c'est un véritable plaisir à utiliser ! Vous devriez essayer ;)</p>
			<footer>Lise, utilisatrice de <cite><a href="#">Matcha</a></cite> depuis 1 an</footer>
		</blockquote>
	</div>
</div>
<div class="uk-container uk-container-small uk-margin-large">
	<div class="uk-grid">
		<div class="uk-section uk-width-1-2 uk-text-center" uk-scrollspy="cls: uk-animation-fade; delay: 500">
			<h3>Chattez en temps réel</h3>
		</div>
		<div class="uk-width-1-2 uk-text-center" uk-scrollspy="cls: uk-animation-slide-right; delay: 1000">
			<span class="uk-icon" uk-icon="icon: commenting; ratio: 7;"></span>
		</div>
	</div>
</div>
<% include ./partials/footer %>
