<% include ./partials/header %>
<div uk-slideshow="ratio: 21:6">
	<ul class="uk-slideshow-items">
		<li>
			<img src="/img/date.jpg" alt="" uk-cover>
		</li>
	</ul>
</div>
<div class="uk-container uk-container-small uk-margin-large">
	<div class="uk-grid">
		<div class="uk-section uk-width-1-2 uk-text-center" uk-scrollspy="cls: uk-animation-fade; delay: 500">
			Chattez en temps réel
		</div>
		<div class="uk-width-1-2 uk-text-center" uk-scrollspy="cls: uk-animation-slide-right; delay: 1000">
			<span class="uk-icon" uk-icon="icon: commenting; ratio: 7;"></span>
		</div>
	</div>
</div>
<% include ./partials/footer %>
