<% include ../partials/header %>
<div class="uk-container uk-container-small">
	<div class="uk-grid">
		<div class="uk-width-1-2@s uk-width-1-4@m">
			<img src="/img/people.svg" alt="Default profile picture" class="uk-margin-large-top"/>
			<ul class="uk-thumbnav uk-margin-auto uk-margin-top uk-margin-bottom">
				<li class="uk-active"><a href=""><img src="/img/people.svg" alt="" width="50"></a></li>
				<li><a href=""><img src="/img/people.svg" alt="" width="50"></a></li>
				<li><a href=""><img src="/img/people.svg" alt="" width="50"></a></li>
				<li><a href=""><img src="/img/people.svg" alt="" width="50"></a></li>
			</ul>
		</div>
		<div class="uk-width-1-2@s uk-width-3-4@m">
			<h2>Clément CHAMPOUILLON</h2>
			<p>22 ans, <span class="uk-icon" uk-icon="location"></span> Lyon</p>
			<h3 class="uk-margin-top">485</h3>
			<a href="/" class="uk-button uk-button-default"><span class="uk-icon" uk-icon="heart"></span> Liker</a>
			<a href="/" class="uk-button uk-button-secondary"><span class="uk-icon" uk-icon="ban"></span> Bloquer</a>
		</div>
	</div>
</div>
<% include ../partials/footer %>
