<html>
<head>
</head>
<body>
	<h1>Bienvenue <%= firstname %></h1>
	<p>Vous venez de vous inscrire sur la plateforme Matcha et nous en sommes ravi ! Il ne vous reste qu'une étape pour valider votre inscription, valider votre compte.</p><br />
	<a href="<%= host %>/auth/validate/<%= tmp_hash %>">Valider mon compte</a><br /><br />
	<p>Cordialement,<br />La Team Matcha</p>
</body>
</html>
